---
stages:
- build
- test
- deploy

image: registry.gitlab.com/umb-svl/faial/faial:ci
variables:

.cache: &global_cache
  before_script:
    - export PATH="$PATH:$CI_PROJECT_DIR"

  cache:
    key: "Ubuntu-$CI_COMMIT_REF_NAME-1"
    paths:
    - _build


test:
  stage: test
  <<: *global_cache
  script:
    - cd "$CI_PROJECT_DIR"
    - rm -f ./target/*/faial
    - eval $(opam config env)
    - ocamlc --version
    - export PATH="$PWD:$PATH"
    - make
    - make test

build-dist:
  stage: build
  <<: *global_cache
  script:
    - cd "$CI_PROJECT_DIR"
    - rm -f ./target/*/faial
    - eval $(opam config env)
    - ocamlc --version
    - dune build --release
    - cp -Lr _build/install/default/bin/* ./

  artifacts:
    paths:
      - c-ast
      - faial-drf
      - faial-bc
      - faial-bc-dyn
      - faial-cost
      - README.md
      - LICENSE

bundle-lin:
  stage: deploy
  dependencies:
    - build-dist
  only:
    # Only add branches that also exist in c-to-json and faial-infer!
    # Otherwise, this will fail as wget will not find their job artifacts.
    - main
  script:
    - cd $CI_PROJECT_DIR
    - mkdir bundle
    - cd bundle
    - ../scripts/ci.sh

  artifacts:
    paths:
      - bundle/faial.tar.bz2


bundle-mac:
  stage: deploy
  image: macos-14-xcode-15
  variables:
    OCAML_VERSION: 5.2.0
    HOMEBREW_NO_INSTALL_CLEANUP: 1
    HOMEBREW_NO_AUTO_UPDATE: 1
  cache:
    key:
      files:
        - configure.sh
    paths:
      - _opam
  tags:
    - saas-macos-medium-m1
  script:
    - cd "$CI_PROJECT_DIR"
    - brew install opam python@3.9
    - >
      if [ -d _opam ]; then
        echo "Loading OPAM from cache..." &&
        cp -r ~/.opam/${OCAML_VERSION} _opam &&
        eval $(opam config env)
      else
        echo "Initializing OPAM"
        opam init --bare --disable-sandboxing &&
        opam switch create main ${OCAML_VERSION} &&
        eval $(opam config env) &&
        ./configure.sh -y --confirm-level=unsafe-yes &&
        cp -a ${OPAM_SWITCH_PREFIX} _opam
      fi
    - ocamlc --version
    - make
    - mkdir bundle
    - cd bundle
    - ../scripts/ci.sh
  artifacts:
    paths:
      - bundle/faial.tar.bz2
