---
image: ocaml/opam2:alpine-3.10-ocaml-4.07

variables:
  OPAMYES: "yes"
  OCB_VERSION: 0.14.0

cache:
  key: ${OCB_VERSION}
  paths:
    - ${HOME}/.opam

before_script:
  - sudo apk add libffi libffi-dev
  - opam repo add opam https://opam.ocaml.org
  - opam depext -y conf-m4.1
  - opam install ocamlbuild.$OCB_VERSION
  - eval $(opam config env)
  - ./configure.sh

test:
  script:
    - cd "$CI_PROJECT_DIR"
    - make
    - make test
