---
image: registry.gitlab.com/cogumbreiro/umb-svl/faial-dev

test:
  script:
    - cd "$CI_PROJECT_DIR"
    - eval $(opam config env)
    - make
    - make test
    - ./run-tests.py

build-dist:
  script:
    - cd "$CI_PROJECT_DIR"
    - eval $(opam config env)
    - make

  artifacts:
    paths:
      - main
