---
image: registry.gitlab.com/umb-svl/faial/faial:ci
variables:

.cache: &global_cache
  before_script:
    - export PATH="$PATH:$CI_PROJECT_DIR"

  cache:
    key: "Ubuntu-$CI_COMMIT_REF_NAME-1"
    paths:
    - _build


test:
  <<: *global_cache
  script:
    - cd "$CI_PROJECT_DIR"
    - rm -f ./target/*/faial
    - eval $(opam config env)
    - ocamlc --version
    - export PATH="$PWD:$PATH"
    - make
    - make test

build-dist:
  <<: *global_cache
  script:
    - cd "$CI_PROJECT_DIR"
    - rm -f ./target/*/faial
    - eval $(opam config env)
    - ocamlc --version
    - dune build --release
    - cp -Lr _build/install/default/bin/* ./

  artifacts:
    paths:
      - c-ast
      - faial-drf
      - faial-bc
      - faial-bc-dyn
      - faial-cost
      - README.md
      - LICENSE

bundle:
  stage: deploy
  dependencies:
    - build-dist
  only:
    # Only add branches that also exist in c-to-json and faial-infer!
    # Otherwise, this will fail as wget will not find their job artifacts.
    - main
  script:
    - cd $CI_PROJECT_DIR
    - mkdir bundle
    - cd bundle
    - ../scripts/ci.sh

  artifacts:
    paths:
      - bundle/faial.tar.bz2
