---
image: registry.gitlab.com/umb-svl/faial/faial:ci
variables:

.cache: &global_cache
  before_script:
    - export PATH="$PATH:$CI_PROJECT_DIR"

  cache:
    key: "Ubuntu-$CI_COMMIT_REF_NAME-1"
    paths:
    - _build


test:
  stage: test
  <<: *global_cache
  script:
    - cd "$CI_PROJECT_DIR"
    - rm -f ./target/*/faial
    - eval $(opam config env)
    - ocamlc --version
    - export PATH="$PWD:$PATH"
    - make
    - make test

build-mac:
  stage: build
  image: macos-14-xcode-15
  variables:
    OCAML_VERSION: 5.2.0
  tags:
    - saas-macos-medium-m1
  before_script:
    - brew install opam
    - opam init --bare --disable-sandboxing
    - opam switch create main ${OCAML_VERSION}
  script:
    - cd "$CI_PROJECT_DIR"
    - eval $(opam config env)
    - ./configure.sh -y
    - ocamlc --version
    - opam list
    - dune build --release

  cache:
    key: $OCAML_VERSION
    paths:
    - _build/
    - $HOME/.opam/$OCAML_VERSION

build-dist:
  stage: build
  <<: *global_cache
  script:
    - cd "$CI_PROJECT_DIR"
    - rm -f ./target/*/faial
    - eval $(opam config env)
    - ocamlc --version
    - dune build --release
    - cp -Lr _build/install/default/bin/* ./

  artifacts:
    paths:
      - c-ast
      - faial-drf
      - faial-bc
      - faial-bc-dyn
      - faial-cost
      - README.md
      - LICENSE

bundle:
  stage: deploy
  dependencies:
    - build-dist
  only:
    # Only add branches that also exist in c-to-json and faial-infer!
    # Otherwise, this will fail as wget will not find their job artifacts.
    - main
  script:
    - cd $CI_PROJECT_DIR
    - mkdir bundle
    - cd bundle
    - ../scripts/ci.sh

  artifacts:
    paths:
      - bundle/faial.tar.bz2
