---
image: registry.gitlab.com/umb-svl/faial/faial:dev
variables:

.cache: &global_cache
  before_script:
    - export PATH="$PATH:$CI_PROJECT_DIR"
    - export CARGO_HOME="$CI_PROJECT_DIR/cargo"
    - echo CARGO_HOME=$CARGO_HOME
    - rustup --version
    - rustc --version
    - cargo --version
    - opam --version
    - ocamlc --version
    - ls /opt/faial-ui
    - ls faial-ui/
    - cp -a /home/opam/.cargo "$CARGO_HOME"
    - echo "FOUND PACKAGES:"; find "$CARGO_HOME"/registry/ -iname '*.crate' -type f -exec basename '{}' \;
    - cp -a /opt/faial-ui/target "$CI_PROJECT_DIR/faial-ui/target"
    - ls faial-ui/

  cache:
    key: "Ubuntu-$CI_COMMIT_REF_NAME-1"
    paths:
    - .cargo
    - faial-ui/target
    - _build


test:
  <<: *global_cache
  except:
    - pipelines
  script:
    - rm -f ./target/*/faial
    - cd "$CI_PROJECT_DIR"
    - eval $(opam config env)
    - cd faial-ui
    - cargo b
    - cp ./target/debug/faial ..
    - cd ..
    - export PATH="$PATH:$PWD"
    - make
    - make test
    - ./run-tests.py

build-dist:
  <<: *global_cache
  except:
    - pipelines
  script:
    - cd "$CI_PROJECT_DIR"
    - rm -f ./target/*/faial
    - eval $(opam config env)
    - make
    - cd faial-ui
    - cargo b --release
    - cp ./target/release/faial ..

  artifacts:
    paths:
      - faial-bin
      - faial
      - README.md
      - LICENSE

bundle:
  stage: deploy
  only:
    - master
  script:
    - cd "$CI_PROJECT_DIR"
    - mkdir bundle
    - cd bundle
    # c-to-json:
    - wget --content-disposition https://gitlab.com/umb-svl/c-to-json/-/jobs/artifacts/master/raw/build/c-to-json-bin.tar.bz2?job=build-rh610
    - tar xf c-to-json-bin.tar.bz2
    - rm c-to-json-bin.tar.bz2
    # faial-infer:
    - wget --content-disposition https://gitlab.com/umb-svl/faial-infer/-/jobs/artifacts/master/download?job=bin
    - unzip artifacts.zip
    - rm artifacts.zip
    - mv faial-infer bin/
    # faial:
    - wget --content-disposition https://gitlab.com/umb-svl/faial/-/jobs/artifacts/master/download?job=build-dist
    - unzip artifacts.zip
    - mv faial faial-bin  bin/
    # display tree & bundle:
    - tree
    - tar jcvf faial.tar.bz2 *

  artifacts:
    paths:
      - bundle/faial.tar.bz2
